.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background: #6e6975;
}
.title {
  color: #eeeeee;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 2px;
}